.main-services {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.main-services .wrapper-text p {
    color: #0F241D;
    margin-bottom: 2rem;
}

.main-services p span {
    color: var(--base-color);
}
