#main-nav {
    height: var(--height-header);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* .menu {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
} */